@font-face {
  font-family: "Pokemon DP Pro";
  src: url("fonts/pokemon-dp-pro.ttf") format("truetype");
}

body {
  font-family: "Pokemon DP Pro", sans-serif;
  font-size: 25px;
  letter-spacing: 0.5px;
  margin: 0px;
  background-color: #fafafa;
}

nav {
  background-color: #E4C1F9;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
}

nav table {
  height: 75px;
  width: 100%;
  text-align: center;
  margin: 0 auto;

  border: 0;
}

nav table td {
  cursor: pointer;
  height: 50px;
  width: 20%;
  border-collapse: collapse;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

nav table td:hover {
  background-color: #e2b0ff;
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
}

main {
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 3%;

  text-align: justify;
}

main header {
  text-align: center;
  margin-top: 0px;
  font-style: italic;
}

main h2 {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  margin: auto;
  text-align: center;

  background-color: #E4C1F9;
}

#myself {
  font-style: italic;
  text-decoration: underline;
}

#navi-text {
  margin-top: 0px;
  text-align: center;
  font-style: italic;
  margin-top: 0px;
}

#navi {
  margin-top: 0px;
  margin-left: 25px;
}

#social {
  text-align: center;
  font-size: 30px;
}

#social a {
  padding-left: 8px;
  padding-right: 8px;
}

