nav {
  background-color: var(--about-me-color-primary);
}

nav table td:hover {
  background-color: var(--about-me-color-secondary);
}

main {
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 3%;

  text-align: justify;
}

main header {
  text-align: center;
  margin-top: 0px;
  font-style: italic;
}

main h2 {
  text-align: center;
}

footer {
  background-color: var(--about-me-color-primary);
}

.navi-text {
  margin-top: 0px;
  text-align: center;
  font-style: italic;
  margin-top: 0px;
}

.navi {
  margin-top: 0px;
  margin-left: 25px;
}

.social {
  text-align: center;
  font-size: 30px;
}

.social a {
  padding-left: 8px;
  padding-right: 8px;
}
