@font-face {
  font-family: "Pokemon DP Pro";
  src: url("../fonts/pokemon-dp-pro.ttf") format("truetype");
}

body {
  position: relative;
  font-family: "Pokemon DP Pro", sans-serif;
  font-size: 25px;
  letter-spacing: 0.5px;
  margin: 0px;
  background-color: #fafafa;
}

nav {
  background-color: rgb(178, 255, 168);
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
}

nav table {
  height: 75px;
  width: 100%;
  text-align: center;
  margin: 0 auto;

  border: 0;
}

nav table td {
  cursor: pointer;
  height: 50px;
  width: 20%;
  border-collapse: collapse;
  transition:
    background-color 0.3s,
    transform 0.3s,
    box-shadow 0.3s;
}

nav table td:hover {
  background-color: rgb(162, 255, 149);
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
}

footer {
  bottom: 0;
  height: 75px;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: rgb(178, 255, 168);
  align-items: center;
}

footer p {
  position: relative;
  top: 22px;
}

#myself {
  font-style: italic;
  text-decoration: underline;
}

/* CSS personalizado para las tarjetas */

#contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

a.tarjeta {
  text-decoration: none;
  color: #333; /* Cambia esto al color que desees para los enlaces */
}

a.tarjeta:hover {
  text-decoration: underline;
}

.tarjeta-container {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 200px; /* Ancho fijo */
  height: 200px; /* Alto fijo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tarjeta-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta-container img {
  max-width: 100%;
  max-height: 80px; /* Altura máxima de la imagen */
}

.tarjeta-container p {
  text-align: center;
  margin: 5px 0;
  text-decoration: none;
}
