:root {
  --about-me-color-primary: #e4c1f9;
  --about-me-color-secondary: #e2b0ff;

  --all-pokedex-color-primary: #b2ffa8;
  --all-pokedex-color-secondary: #a2ff95;

  --index-color-primary: #ffe65a;
  --index-color-secondary: #ffe44b;

  --team-color-primary: #ff9999;
  --team-color-secondary: #ff7b7b;

  --pokemon-color-primary: #ffe65a;
  --pokemon-color-secondary: #ffe44b;
}

@font-face {
  font-family: "Pokemon DP Pro";
  src: url("./pokemon-dp-pro.ttf") format("truetype");
}

* {
  font-family: "Pokemon DP Pro", sans-serif;
}

body {
  font-size: 25px;
  letter-spacing: 0.5px;
  margin: 0px;
  background-color: #fafafa;
  overflow-x: hidden;
  width: 100%;
}

nav {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
}

nav table {
  height: 75px;
  width: 100%;
  text-align: center;
  margin: 0 auto;

  border: 0;
}

nav table td {
  cursor: pointer;
  height: 50px;
  width: 20%;
  border-collapse: collapse;
  transition:
    background-color 0.3s,
    transform 0.3s,
    box-shadow 0.3s;
}

nav table td:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  margin: auto;
  text-align: center;

  background-color: var(--about-me-color-primary);
}

.myself {
  font-style: italic;
  text-decoration: underline;
}
