nav {
  background-color: var(--index-color-primary);
}

nav table td:hover {
  background-color: var(--index-color-secondary);
}

header {
  text-align: center;
}

main {
  margin-left: 30%;
  margin-right: 30%;
}

main h3 {
  margin-top: -25px;
}

main ul li {
  list-style-image: url("../images/pokeball-ul-14px.png");
  margin-bottom: 7px;
}

main ul li a {
  color: #4b66ff;
  transition: transform 0.3s ease-in-out;
  font-style: italic;
}

main ul li a:hover {
  color: #8a4bff;
  position: relative;
  bottom: 3px;
}

footer {
  background-color: var(--index-color-primary);
}
